venv/
__pycache__/
.idea/
.ipynb_checkpoints
video_bb.ipynb
*.py
*.weights
*.cfg
!net/yolov4-tiny.cfg
!net/yolov3-tiny.cfg
!net/yolov4.cfg
!net/yolov3.cfg
detections/*.png
detections/*.mp4
!detections/web_img_24_152755.png
!detections/park_24_145733.png
!detections/web_08_163844.mp4
!detections/NY_08_163406.mp4
